a:link{
    color:red  /*color when the link is active*/
}
a:visited{
    color: blueviolet; /*color when mouse the link has been visited */
}
a:hover{
     color: cornflowerblue; /*color when mouse is hovering on the link */
}
a:active{
   color: aqua; /*color when the link is clicked */
}